---
import { ViewTransitions } from "astro:transitions";
import { defMeta } from "../scripts/config.js";

const { post } = Astro.props;
const url = Astro.url;
const meta = post === undefined ? defMeta : post.data;
const iconPath = `${url.origin}/favicon.ico`;
const ogImagePath = `${url.origin}/ogimage.png`;
const lightbannerPath = `${url.origin}/lightbanner.webp`;
const dakrbannerPath = `${url.origin}/darkbanner.webp`;
const lightMode = `${url.origin}/lightmode.svg`;
const darkMode = `${url.origin}/darkmode.svg`;
---

<meta charset="utf-8" />
<link rel="icon" href={iconPath} type="image/vnd.microsoft.icon" />
<link rel="shortcut icon" href={iconPath} type="image/vnd.microsoft.icon" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="preload" href={lightbannerPath} as="image" type="image/webp" />
<link rel="preload" href={dakrbannerPath} as="image" type="image/webp" />
<link rel="preload" href={lightMode} as="image" type="image/svg+xml" />
<link rel="preload" href={darkMode} as="image" type="image/svg+xml" />

<title>
  {meta.title !== defMeta.title ? meta.title + " | sim.log" : meta.title}
</title>
<!-- Meta Tags -->
<meta name="title" content={meta.title} />
<meta name="description" content={meta.description} />
<meta name="keyword" content={meta.keyword} />

<!-- canonical -->
<link rel="canonical" href={url.href} />
<link
  rel="alternate"
  media="only screen and (max-width: 640px"
  href={url.href}
/>

<!-- open graph -->
<meta property="og:title" content={meta.title} />
<meta property="og:type" content={defMeta.type} />
<meta property="og:url" content={url.href} />
<meta property="og:image" content={ogImagePath} />
<meta property="og:image:alt" content={defMeta.title} />
<meta property="og:description" content={meta.description} />
<meta property="og:site_name" content={defMeta.title} />
<meta property="og:locate" content="kr_KR" />

<!-- twitter open graph  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content={url.href} />
<meta name="twitter:title" content={meta.title} />
<meta name="twitter:description" content={meta.description} />
<meta name="twitter:image" content={ogImagePath} />

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
  rel="stylesheet"
/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQ2BHTQ7SH"
></script>
<script src="../scripts/google.js"></script>

<!-- WebSite -->
<script type="application/ld+json" src="../scripts/website.json"></script>
<script>
  const theme = localStorage.getItem("theme");
  const html = document.getElementsByTagName("html")[0];
  if (theme === null) {
    localStorage.setItem("theme", "light");
  }
  html.setAttribute("class", localStorage.getItem("theme"));
</script>

<!-- katex -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script> 
<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>


<ViewTransitions />
