---
import { ViewTransitions } from "astro:transitions";
import { defMeta } from "../scripts/config.js";

const { post } = Astro.props;
const url = Astro.url;
const meta = post === undefined ? defMeta : post.data;
const iconPath = `${url.origin}/favicon.ico`;
const ogImagePath = `${url.origin}/ogimage.png`;
const lightbannerPath = `${url.origin}/lightbanner.webp`;
const dakrbannerPath = `${url.origin}/darkbanner.webp`;
const lightMode = `${url.origin}/lightmode.svg`;
const darkMode = `${url.origin}/darkmode.svg`;
---

<meta charset="utf-8" />
<link rel="icon" href={iconPath} type="image/vnd.microsoft.icon" />
<link rel="shortcut icon" href={iconPath} type="image/vnd.microsoft.icon" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="preload" href={lightbannerPath} as="image" type="image/webp" />
<link rel="preload" href={dakrbannerPath} as="image" type="image/webp" />
<link rel="preload" href={lightMode} as="image" type="image/svg+xml" />
<link rel="preload" href={darkMode} as="image" type="image/svg+xml" />

<title>
  {meta.title !== defMeta.title ? meta.title + " | sim.log" : meta.title}
</title>
<!-- Meta Tags -->
<meta name="title" content={meta.title} />
<meta name="description" content={meta.description} />
<meta name="keyword" content={meta.keyword} />

<!-- canonical -->
<link rel="canonical" href={url.href} />
<link
  rel="alternate"
  media="only screen and (max-width: 640px"
  href={url.href}
/>

<!-- open graph -->
<meta property="og:title" content={meta.title} />
<meta property="og:type" content={defMeta.type} />
<meta property="og:url" content={url.href} />
<meta property="og:image" content={ogImagePath} />
<meta property="og:image:alt" content={defMeta.title} />
<meta property="og:description" content={meta.description} />
<meta property="og:site_name" content={defMeta.title} />
<meta property="og:locate" content="kr_KR" />

<!-- twitter open graph  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content={url.href} />
<meta name="twitter:title" content={meta.title} />
<meta name="twitter:description" content={meta.description} />
<meta name="twitter:image" content={ogImagePath} />

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
  rel="stylesheet"
/>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQ2BHTQ7SH"
></script>
<script src="../scripts/google.js"></script>

<!-- WebSite -->
<script type="application/ld+json" src="../scripts/website.json"></script>
<script>
  const theme = localStorage.getItem("theme");
  const html = document.getElementsByTagName("html")[0];
  if (theme === null) {
    localStorage.setItem("theme", "light");
  }
  html.setAttribute("class", localStorage.getItem("theme"));
</script>

<!-- kaTex -->

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css"
  integrity="sha384-TEMocfGvRuD1rIAacqrknm5BQZ7W7uWitoih+jMNFXQIbNl16bO8OZmylH/Vi/Ei"
  crossorigin="anonymous"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js"
  integrity="sha384-jmxIlussZWB7qCuB+PgKG1uLjjxbVVIayPJwi6cG6Zb4YKq0JIw+OMnkkEC7kYCq"
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/contrib/auto-render.min.js"
  integrity="sha384-IiI65aU9ZYub2MY9zhtKd1H2ps7xxf+eb2YFG9lX6uRqpXCvBTOidPRCXCrQ++Uc"
  crossorigin="anonymous"></script>

<ViewTransitions />
