---
import { ViewTransitions } from "astro:transitions";
import { defMeta } from "../scripts/config.js";

const { post } = Astro.props;
const url = Astro.url;
const meta = post === undefined ? defMeta : post.data;
const iconPath = `${url.origin}/favicon.ico`;
const ogImagePath = `${url.origin}/ogimage.png`;
const bannerPath = `${url.origin}/banner.webp`;
---

<meta charset="utf-8" />
<link rel="icon" href={iconPath} type="image/vnd.microsoft.icon" />
<link rel="shortcut icon" href={iconPath} type="image/vnd.microsoft.icon" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="preload" href={bannerPath} as="image" type="image/webp" />

<title>
  {meta.title !== defMeta.title ? meta.title + " | sim.log" : meta.title}
</title>

<!-- WebSite -->
<script type="application/ld+json" src="../scripts/website.js"></script>

<!-- Meta Tags -->
<meta name="title" content={meta.title} />
<meta name="description" content={meta.description} />
<meta name="keyword" content={meta.keyword} />

<!-- open graph -->
<meta property="og:title" content={meta.title} />
<meta property="og:type" content={defMeta.type} />
<meta property="og:url" content={url.href} />
<meta property="og:image" content={ogImagePath} />
<meta property="og:image:alt" content={defMeta.title} />
<meta property="og:description" content={meta.description} />
<meta property="og:site_name" content={defMeta.title} />
<meta property="og:locate" content="kr_KR" />

<!-- twitter open graph  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content={url.href} />
<meta name="twitter:title" content={meta.title} />
<meta name="twitter:description" content={meta.description} />
<meta name="twitter:image" content={ogImagePath} />

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
  rel="stylesheet"
/>

<!-- Google tag (gtag.js) -->
<meta
  name="google-site-verification"
  content="WgRVhPpSbzAJSfbknVxQ3rjD4qu5XDOXOxDupPemTl4"
/>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PQ2BHTQ7SH"
></script>
<script src="../scripts/google.js"></script>
<ViewTransitions />
