---
const { page } = Astro.props;

const path = `/pages`;

const pageNum = [];
const currentPage = page.currentPage;
const lastPage = page.lastPage;

const isFisrtPage = currentPage - 1 === 0;
const isLastPage = currentPage === lastPage;

const getPageNum = (lastPage) => {
  for (let i = 1; i <= lastPage; i++) {
    pageNum.push(i);
  }
};

getPageNum(lastPage);
---

<div class="page-navigator-container">
  <a
    href={`${path}/${currentPage - 1}`}
    class={isFisrtPage ? "arrow unavailable" : "arrow"}
    ><span id="rainbow">{"<"}</span></a
  >
  <div class="nav-num">
    {
      pageNum.map((i) => (
        <a
          href={`${path}/${i}`}
          class={i === currentPage ? "current-page" : ""}
        >
          <span id="rainbow">{i}</span>
        </a>
      ))
    }
  </div>
  <a
    href={`${path}/${currentPage + 1}`}
    class={isLastPage ? "arrow unavailable" : "arrow"}
    ><span id="rainbow">{">"}</span></a
  >
</div>

<style>
  .current-page {
    font-weight: bold;
  }
  .page-navigator-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  a {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-num {
    margin-left: 20px;
    margin-right: 20px;
  }
  .arrow {
    font-weight: bold;
    user-select: none;
  }

  .arrow.unavailable {
    pointer-events: none;
  }
</style>
