---
import Banner from "./Banner.astro";

import { subDate } from "../../scripts/utils.js";

// 프로젝트 내부 전체 이미지 불러오기
const { page } = Astro.props;
---
<div class="post-container">
  {
    page.data.map((post) => (
      <a href={`/posts/${post.data.slug}`}>
        <article class="post-item">
          {/* <ImageComponent post={post} imagePath={images[post.data.cover]} /> */}
          <div class="info-container">
            <h2 class="title" id="rainbow">
              {post.data.title}
            </h2>
            <div class="date-cate">
              <div class="category">{post.data.category}</div>
              <div class="date">{subDate(post.data.date)}</div>
            </div>
            <p class="desc">{post.data.description}</p>
          </div>
        </article>
      </a>
    ))
  }
</div>
<style>
  .post-item {
    margin-top: 10px;
    display: flex;
    max-height: 160px;
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }

  /* .post-item:hover {
    #title {
      background: repeating-linear-gradient(
        -70deg,
        #ff0000,
        #ff6f61,
        #ff7f50,
        #f05d18,
        #d64d8c,
        #a64ac9,
        #ff0000 75%
      );

      background-size: 450%;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      animation-name: rainbowColor;
      animation-duration: 3.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  } */

  a {
    /* margin-left: 3%; */
    flex: 1;

    * {
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
    }

    .title {
      font-size: 1.38em;
      width: fit-content;
      max-height: 1.3em;
    }

    .date-cate {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
    }

    .category {
      font-size: 0.8em;
    }

    .date {
      font-size: 0.8em;
      margin-left: 5px;
    }

    .desc {
      margin-top: 5px;
      max-height: calc(1.5em * 2);
      line-height: 1.5;
      font-size: 1.05em;
    }
  }
</style>
